#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.navbar, .copyright {
  color:hsl(0, 0%, 93%);
  background-color: #fff;
  box-shadow: 3px 3px 5px;
  padding: 13px 10%;
  display: flex;
  justify-content: space-between;
}
.navbar .logo {
  color: #000;
  font-size: 28px;
  font-weight: 600;
}
.copyright {
  padding: 13px 2%;
}



